
    <main class="center jumbotron jumbotron-fluid img-background">
    <div class='main-div'>
      <h1>Plan your Events now</h1>
      <h3 class='home-header'>This is the home page for the
          <a href="#">Private Events</a> application.
      </h3>
      <% if signed_in? %>
      <% else %>
      <%= link_to "Create an Event", '/signin', class: "btn btn-lg btn-primary btn-lg" %>
      <% end %>
      </div>
    </main>

    <footer class="footer">
          <small>
              <a href="#">  Private Events created </a>
              by <a href="https://github.com/tundeiness/Private-Events">Olga Pelts & Tunde Oretade</a>
          </small>
          <nav>
              <ul>
                <li><%= link_to "About", '#' %></li>
                <li><%= link_to "Contact", '#' %></li>
              </ul>
          </nav>
    </footer>
</div>
