
<div class="row">
  
    <h1> All Events </h1>
  
  <div class='event-body'>
  <% @events.each do |event| %>
    <div class='event'>
      <h3 class='featurette-heading'><%= event.title%></h3>
      <div class='event-body'>
      <p><%= event.description %></p>
      <div class='event-details'>
        <span>Event location: <%= event.location %></span>
        <span>Event date: <%= event.date %><span>
      </div>
      </div>
      </div>
  <% end %>

</div>
