@import "bootstrap-sprockets";
@import "bootstrap";

*, ::after, ::before {
    box-sizing: border-box;
}


html, body {
    // background-color: rgb(42, 47, 50);
    height: 100%;
}


body {
    // display: flex;
    // margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-color: #424547;
}


/* universal */
body {
padding-top: 60px;
}

section {
overflow: auto;
}

textarea {
resize: vertical;
}

.center{
    text-align: center;
}

main {
    height: 100%;
}
.center h1 {
margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
line-height: 1;
}

h1 {
font-size: 3em;
letter-spacing: -2px;
margin-bottom: 30px;
text-align: center;
}

h2 {
font-size: 1.2em;
letter-spacing: -1px;
margin-bottom: 30px;
text-align: center;
font-weight: normal;
color: #777;
}

p {
font-size: 1.1em;
line-height: 1.7em;
}


/* header */
#logo {
float: left;
margin-right: 10px;
font-size: 1.7em;
color: #fff;
text-transform: uppercase;
letter-spacing: -1px;
padding-top: 12px;
font-weight: bold;
}

#logo:hover {
color: #fff;
text-decoration: none;
}

.btn{
    width:100%;
    margin-top: 25px;
}
.form-label{
    margin-top: 15px;
    font-size: 14px;
}
.nav-li{
    font-size: 14px;
    font-weight:600;
}
.nav-li:hover {
    // text-decoration:underline;
    // text-decoration-style: solid;
     background-color: rgba(50, 115, 220, 0.3);
  
}
.img-background{
    background: url('calendar.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 780px; 
    width: auto;
    display:flex;

}
.main-div{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}



/* footer */
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}
    footer a {
    color: #555;
    }

    footer a:hover {
    color: #222;
    }

    footer small {
    float: left;
    }

    footer ul {
    float: right;
    list-style: none;
    }

footer ul li {
float: left;
margin-left: 15px;
}

#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
      font-size: 12px;
    }
  }
  
  .field_with_errors {
    @extend .has-error;
    .form-control {
      color: $state-danger-text;
    }
  }

  aside {
    border-right:2px solid blue;
    height:100%;
    section.user_info {
      margin-top: 20px;
    }
    section {
      padding: 10px 0;
      margin-top: 20px;
      &:first-child {
        border: 0;
        padding-top: 0;
      }
      span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
      }
      h1 {
        font-size: 1.4em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 0px;
      }
    }
  }
  
  .gravatar {
    float: left;
    margin-right: 10px;
  }
  
  .gravatar_edit {
    margin-top: 15px;
  }