@import "bootstrap-sprockets";
@import "bootstrap";

  .events-header {
    font-size: 40px;
    color: #222;
  }

  .event{
    display:flex;
    border: 1px solid #333; 
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  
    h3{
      text-align: center;
    }
  
    p{
      font-size:18px;
    }
    span{
      font-size: 14px;
      font-weight: 600;
    }
    .event-body{
      width:95%;
      padding:10px;
    }
    .event-details{
      display:flex;
      justify-content: space-between;
    }
  }


.event-page{
    font-size:16px;
    display:flex;
    flex-direction: column;
    width: 50%;
    margin-left:auto;
    margin-right: auto;
  }
  
  .event-header{
    text-align: center;
    font-size: 26px;
    color: #222;  
  }

  .new-event{
    padding: 20px 20px;
  }